{% load static %}

{% load my_tags %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/main.css' %}" />

		<script src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



 <style>
.image{
	margin: auto;
	/* border: 2px solid #555;
	background-color: #ffffff; */
	height: 100%;
	/* margin-right: 20px;
	margin-left: 20px; */
	margin-bottom: 50px;
}
.back{
	background-color: #ffe6cc;
  height: 100vh;
}
body{
	background-color: #ffe6cc;
}



</style>

</head>

<body class= "p-0 h-100">

	<div class="container">

		<div class="back p-0 h-100">



  		{% for pic in pictures %}

				{% if forloop.counter|modulo:3 == 1 %}
					<div class="row" style="height:220px">
		 		{% endif %}
			 	<div class = "col-sm-4 image" >
					<a href = "{% url 'canvas' pic.id %}" style="height:100%">
						<img src = "{{pic.photo.url}}" style="height:100%"/>
					</a>
				</div>
				{% if forloop.last or forloop.counter|modulo:3 == 0  %}
			 		</div>
    		{% endif %}
  		{% endfor %}

		</div>
	</div>

</body>
</html>
