<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
		h1{
			font-size: 40px;
		}
		p{
			font-size: 30px;
		}
		body{
			background-color: #ffe6cc;
		}
	</style>
</head>
<body>

	<h1> Stuck?</h1>
<p>
This app allows you to color any of our pre-selected images, upload your own pictures that you would like to color, and view your art gallery which includes all your past work. <br> <br>
The menu bar is located at the top of the homepage. To continue working on your most recent projects, click on the first or second icon. To view your past projects, click on the second icon. To upload a picture from your photo library, click on the third icon. <br><br>
To color one of our pre-selected images,  choose a category that interests you by clicking on the drop-down menu and take a look at our collection of images. Once you find an image you like, click on it and start coloring!
</p>

</body>
</html>