{% extends 'coloring/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %} Index {% endblock %}


{% block body %}
	<div class="container-fluid">
		{% for pic in photos %}
			{% if forloop.counter|modulo:3 == 1 %}
				<div class="row" style="height:75px">
		 	{% endif %}
			 	<div class = "col-sm-4" >
					<a href = "{% url 'canvas' pic.id %}">
						<img src = "{{pic.photo.url}}" style="height:75px;width:75px"/>
					</a>
				</div>
			{% if forloop.last or forloop.counter|modulo:3 == 0  %}
			 </div>
		 	{% endif %}
		{% endfor %}
	</div>
{% endblock %}
